body{color:#fff1e6;background-color:#8FBC8F;
font-family:"Raleway",sans-serif;
font-size: 20px;
line-height: 1.5;
margin:0;
}

h1,h2,h3{color:#ff1493;}

h1,h2,h3{font-family:"Playfair Display";
  font-style: italic;
}

h1{font-size: 80px;
text-align: center;
margin:0;
text-shadow:0 3px 10px rgba(0, 0, 0, 0.7)}

h2{font-size: 48px;
text-align: center;
margin-top: 0;
}

h3{font-size:24px;
margin-top: 36px;
}

a{font-style: italic;
color:#fff1e6;}

.fotogalerie,.kontakt{background-color:#2F4F4F}

.paticka{
background-color: #111e1e;
color: white;
text-align: center;
padding:20px 0;}

.foto-onas{width: 200px;
border-radius: 50%;
float:left;
margin-right: 30px;
margin-bottom: 30px;
}

.fotogalerie img {width: 32%;
aspect-ratio: 3 / 2;
border-radius: 20px;
}

.foto-pruvodce{width: 350px;
border-radius: 0 50px 50px 50px;
float:right;
margin-left: 30px;
margin-bottom: 30px;
}

.foto-kontakt{width: 350px;
border-radius: 50px 0 50px 50px;
float:left;
margin-right: 30px;
margin-bottom: 30px;
}

th,td {text-align: left;
  border-bottom: 1px solid #FF1493;
padding:10px 0;
}

table {border-spacing: 0;}

.cena {text-align: right;
padding-left:50px;}

section{padding:50px 15%;
overflow:auto;}

.kontakt h3{clear:left;}

.hlavicka{background-image: url(StrasÌŒilky/hlavicka.jpg);
padding:150px 30px;
background-repeat: no-repeat;
background-position: center;
background-size:cover;}

.onas{color: #2F4F4F;
}

.pruvodce{color: #2F4F4F;
}

video{float:right;
border-radius: 50px;}

.menu{
margin:0;
padding:0;
text-align: center;
background-color: #111e1e;
}

.menu li{
display:inline-block;
}

.menu a{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
background-color: #2F4F4F;
}